name: build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore
        run: dotnet restore .\BatchRunner\BatchRunner.csproj
      - name: Build
        run: dotnet build .\BatchRunner\BatchRunner.csproj -c Release
